In [1]:
import pyarrow.parquet as pq
import pandas as pd

# Specify the path to your Parquet file
parquet_file = r'C:\Users\akash\Desktop\historical_stock_data_project\data\raw_data\tech_company_stock_data.parquet'

# Read Parquet file into a PyArrow table
table = pq.read_table(parquet_file)

# Convert to Pandas DataFrame
df = table.to_pandas()

# Display the first few rows of the DataFrame to verify
df.head()

       index  1. open  2. high   3. low 4. close 5. volume symbol
0 1999-11-01  80.0000  80.6900  77.3700  77.6200   2487300   AAPL
1 1999-11-02  78.0000  81.6900  77.3100  80.2500   3564600   AAPL
2 1999-11-03  81.6200  83.2500  81.0000  81.5000   2932700   AAPL
3 1999-11-04  82.0600  85.3700  80.6200  83.6200   3384700   AAPL
4 1999-11-05  84.6200  88.3700  84.0000  88.3100   3721500   AAPL